/////////////////////////
////
////  HEADER STYLESHEET
////
/////////////////////////


header[role=banner] {
	padding-top: $padding-vertical;
	padding-bottom: $padding-vertical;
	background-color: white;
	@include box-shadow(0 1px 5px 0 rgba(0, 0, 0, 0.05));
}