/////////////////////////
////
////  NAVIGATION STYLESHEET
////
/////////////////////////


nav[role=navigation] {

}

ul.nav-buttons {
	list-style: none;
	padding: 0;
	margin: 0;
	@extend .pull-right;

	> li {

		&:hover a {
			color: lighten($color-primary, 20%);
		}
		&.current {

			&:hover a {
				color: lighten($color-secondary, 20%);
			}
			a {
				color: $color-secondary;
			}
		}
		a {
			display: inline-block;
			text-decoration: none;
			padding: $padding-vertical $padding-horizontal;
		}
	}
}