/////////////////////////
////
////  COLORS
////
/////////////////////////


$color-primary:				#FF3D15 !default;
$color-secondary:			#1C2A3B !default;
$color-meta:					#E8E9EB !default;
$color-active:				#FF3D15 !default;
$color-important:			#FF7900 !default;
// Etc.