/////////////////////////
////
////	GRID STYLESHEET
////
////	Styling for all device queries, device sizes and columns.
////
/////////////////////////


///////
//	DEFAULT DEVICE SIZES
///////

$mobile-min-width:				320px !default;
$tablet-min-width:				768px !default;
$desktop-min-width:				960px !default;
$desktop-large-min-width:	1200px !default;

$mobile-max-width:				$tablet-min-width;
$tablet-max-width:				$desktop-min-width;
$desktop-max-width:				$desktop-large-min-width;


///////
//	GRID SETTINGS
///////

// Boolean for using percentage columns
$percentage-grid:					true !default;

// Amount of columns you want to use
$column-count:						12 !default;

// This margin is per col (total of both sides combined, so left 10px and right 10px = 20px)
$column-margin:						20px !default;

// Max width for wrap (default: 960px)
$wrap-width:							$tablet-max-width !default;

// Size per column in pixels
$column-px-width:					$wrap-width / $column-count;

// Size per column in percentage
$column-percentage-width:	($column-px-width / $wrap-width) * 100%;

// First property declares the class name ('mob', 'tab', 'desk'),
// the second sets the max-width the breakpoint is allowed to have
$devices: 								('mob', $tablet-min-width),
													('tab', $desktop-min-width),
													('desk', $desktop-large-min-width);


///////
//	GRID STYLING
///////

@mixin clearfix {
	*zoom: 1; // IE 6/7 fix

	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
.clearfix {
	@include clearfix;
}

.wrap {
	width: 100%;
	max-width: $mobile-max-width;
	margin: 0 auto;
	@include clearfix;
	@include breakpoint($tablet-min-width) { max-width: $mobile-max-width; }
	@include breakpoint($desktop-min-width) {	max-width: $tablet-max-width;	}
	@include breakpoint($desktop-max-width) {	max-width: $desktop-max-width; }
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

@if $percentage-grid {

	@each $device, $max-width in $devices {

		@for $column from 1 through $column-count {
			.col-#{$device}-#{$column} {
				position: relative;
				float: left;
				min-height: 1px;
				width: ($column * $column-percentage-width);
				padding-left: $column-margin / 2;
				padding-right: $column-margin / 2;
				@include breakpoint(max-width $max-width){
					display: block !important;
					width: 100% !important;
					float: none !important;
					clear: both;
					@include clearfix;
				}

				&.pull-left { float: left; }
				&.pull-right { float: right; }
				&.red { background-color: $color-primary; }
				img {
					max-width: 100%;
				}
			}
		}

	}

} @else {

	.col {
		margin-left: $column-margin / 2;
		margin-right: $column-margin / 2;
	}
	@for $column from 1 through $column-count {
		.col-#{$column} {	width: ($column * $colum-width) - $column-margin;	}
	}
}