/////////////////////////
////
////  MIXINS & PLACEHOLD SELECTORS
////
/////////////////////////


///////
//  MIXINS
///////

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation($content) {
	-webkit-animation: $content;
	-moz-animation: $content;
	-ms-animation: $content;
	-o-animation: $content;
	animation: $content;
}


///////
//  VERTICALLY ALIGN BLOCKS
///////

.middle-align-wrap {
	@include transform-style(preserve-3d);
}
.middle-align {
	overflow: hidden;
	position: relative;
	top: 50%;
	@include translateY(-50%);
}

div.flexbox {
	@include display-flex;
	@include flex-direction(row);
	@include align-items(center);
	@include align-content(flex-start);
}


///////
//  VISIBILITY CLASSES
///////

.stretch-width {
	width: 100%;
	height: auto;
}
.fill-width {
	max-width: 100%;
	height: auto;
}


///////
//  VISIBILITY CLASSES
///////

.hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
}
.invisible {
	visibility: hidden;
}