/////////////////////////
////
////  VARIABLES STYLESHEET
////
////  Variables, sprite imports, etc.
////  can be placed in this file.
////
/////////////////////////


///////
//  SPRITE IMPORTS
///////

// Disabled because you need to customize this to work properly.

// $icons-spacing: 5px;
// $icons-layout: smart;
// @import "icons/*.png";

$padding-vertical: 		10px !default;
$padding-horizontal: 	14px !default;

$font-size:						16px !default;
$font-margin: 				10px !default;