/////////////////////////
////
////	BASE STYLESHEET
////
////	Remember that all devices will load this file,
////	keep this file as small and simple as possible.
////
/////////////////////////


* {
	@include box-sizing(border-box);
}

body {
	font-size: $font-size;
}

a {
	color: $color-primary;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	background-color: $color-meta;
}

.logo {

	img {
		display: block;
	}
}