/////////////////////////
////
////	APPLICATION STYLESHEET
////
////	This is where the magic happens.
////	This file is only for imports!
////
/////////////////////////


@import "compass";
@import "breakpoint";
@import "helpers/_normalize";

// Dependencies (eg. colors & variables)
@import "dependencies/_colors";
@import "dependencies/_fonts";
@import "dependencies/_variables";
@import "dependencies/_grid";
@import "dependencies/_mixins";

// Components
@import "components/_buttons";
@import "components/_forms";
@import "components/_lists";
@import "components/_headings";

// Regions
@import "regions/_header";
@import "regions/_navigation";
@import "regions/_footer";


// Mobile and up (320px+)
@import "foundation/_base";

// Mobile specific (0 > 320px)
@media screen and (max-width: $mobile-min-width) {
	@import "foundation/_mobile";
}

// Tablet and up (768px+)
@media screen and (min-width: $tablet-min-width) {
	@import "foundation/_tablet";
}

// Desktop and up (960px+)
@media screen and (min-width: $desktop-min-width) {
	@import "foundation/_desktop";
}

// Large desktop (1200px+)
@media screen and (min-width: $desktop-min-width) {
	@import "foundation/_desktop-large";
}